<!DOCTYPE html>
<html>
<head>
  <title>3DJakob</title>
  <link rel="stylesheet" href="/layout.css" />
  <link rel="stylesheet" href="/videos.css" />
  <link rel="stylesheet" href="/video.css" />
  <link rel="stylesheet" href="/faq.css" />
  <style type="text/css">
    @font-face {
      font-family: 'Sarpanch';
      font-style: normal;
      font-weight: 400;
      src: local('Sarpanch'), local('Sarpanch-Regular'), url(http://fonts.gstatic.com/s/sarpanch/v1/Y71ZoW30Ox-OaahPKOatsnYhjbSpvc47ee6xR_80Hnw.ttf) format('truetype');
    }
    @font-face {
      font-family: 'Sarpanch';
      font-style: normal;
      font-weight: 700;
      src: local('Sarpanch Bold'), local('Sarpanch-Bold'), url(http://fonts.gstatic.com/s/sarpanch/v1/EuiNlzA_8JpHzcHVmXraFiwlidHJgAgmTjOEEzwu1L8.ttf) format('truetype');
    }
    @font-face {
      font-family: 'Exo';
      font-style: normal;
      font-weight: 400;
      src: local('Exo Regular'), local('Exo-Regular'), url(http://fonts.gstatic.com/s/exo/v4/jlbBh8YAT2HMW47EJCWocA.ttf) format('truetype');
    }
    @font-face {
      font-family: 'Exo';
      font-style: normal;
      font-weight: 700;
      src: local('Exo Bold'), local('Exo-Bold'), url(http://fonts.gstatic.com/s/exo/v4/EzuTFo66hFh-uPBO_c4r-OvvDin1pK8aKteLpeZ5c0A.ttf) format('truetype');
    }
  </style>
  <% if (page === 'videos') { %>
  <style type="text/css">
    <% videos.forEach(function (video, i) { %>
    .page-videos .videos a:nth-child(<%= (i + 1) %>) { -webkit-animation-delay: <%= (i * 40) %>ms; }
    <% }); %>
  </style>
  <% } %>
</head>
<body>

  <header>

    <div class="top">

      <a href="/">
        <img src="/logo.jpg" class="logo" />
        <h1>3DJakob</h1>
      </a>

    </div>

    <div class="bar">
      <nav>
        <a href="/">Videos</a>
        <a href="/faq">FAQ</a>
        <a href="https://www.youtube.com/3djakob" target="_blank" class="youtube">Youtube</a>
        <a href="https://www.facebook.com/fivefootfilms?fref=ts" target="_blank" class="facebook">Facebook</a>
      </nav>
    </div>

  </header>

  <main class="page-<%= page %>">
