
<% include layout_head.ejs %>

<div class="clearfix"></div>

<p>
  <strong>When did you start?</strong>
  The video that started it all was uploaded to my channel on the 12th of July, 2012.
</p>

<p>
  <strong>Who operates the camera?</strong>
  That depends on wheter or not the camera needs to be moved. Usaly I do it myself but sometimes I ask other people to help me out.
</p>

<p>
  <strong>What program do you use?</strong>
  I started out with iMovie and the moved on to use Adobe After Effects CS6 for effects and premier pro for cuting.
</p>

<p>
  <strong>What camera do you use?</strong>
  I started out with a regular photo camera, Nowdays however I use a Nikon D3200 dslr.
</p>

<% include layout_foot.ejs %>
