<% include layout_head.ejs %>

<h1>Epic RC car drive</h1>

<div class="form">
  <div class="pic pic1" style="background-image: url(/bts/car1.jpg);"></div>
  <div class="pic pic2" style="background-image: url(/bts/car2.jpg);"></div>
  <div class="pic pic3" style="background-image: url(/bts/car3.jpg);"></div>
</div>

<p>
  Many thanks to my friend Hans who helped out and controlled the car. This
  video was made entirely by us two. For once i didn't write a manus, I had the
  whole idea in my head. Turned out great though.
</p>

<div class="line"></div>

<h1>Life of Steve</h1>

<div class="form">
  <div class="pic pic1" style="background-image: url(/bts/los2.jpg);"></div>
  <div class="pic pic2" style="background-image: url(/bts/los1.jpg);"></div>
  <div class="pic pic3" style="background-image: url(/bts/los3.jpg);"></div>
</div>

<p>
  This was definitely our biggest project to date. A lot of work went in to this
  and making the suit took almost a month.
  Watch the <a href="https://www.facebook.com/video.php?v=1520316911549513&set=vb.1416151848632687&type=2&theater" target="_blank">behind the scenes video</a>
  at our facebook site!
</p>

<div class="line"></div>

<h1>Prop hunt IRL<h1>

  <div class="form">
    <div class="pic pic1" style="background-image: url(/bts/ph1.jpg);"></div>
    <div class="pic pic2" style="background-image: url(/bts/ph3.jpg);"></div>
    <div class="pic pic3" style="background-image: url(/bts/ph2.jpg);"></div>
  </div>
</h1>

<p>
  In this project we tried to take the best prop hunt fails and make them a
  reality. We used a computer stand to move objekts freely and then removed it
  in post. Looked quite convincing in the end.
  Watch the <a href="https://www.facebook.com/video.php?v=1425111737736698&set=vb.1416151848632687&type=2&theater" target="_blank">behind the scenes video</a>
  at our facebook site!
</p>


<% include layout_foot.ejs %>
