
<% include layout_head.ejs %>

<h1><%= video.title %></h1>

<iframe width="960" height="540" src="//www.youtube.com/embed/<%= video.id %>" frameborder="0" allowfullscreen></iframe>

<% include layout_foot.ejs %>
