!!! 5
html
  head
    title Jakob
    link(rel='stylesheet', type='text/css', href='css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='css/style.css')
    script(type='text/javascript', src='js/jquery-1.8.3.min.js')
    script(type='text/javascript', src='js/scripts.js')

  body
    .container
      header.span12
        h1 3DJakob official site!
      ul.span3.nav.nav-tabs.nav-stacked
        li.active
          a(href='href')
            i.icon-chevron-right
            | Home
        li
          a(href='http://www.youtube.com/user/3DJakob/videos?flow=grid&view=0', target='_blank')
            i.icon-chevron-right
            | 3DJakob channel
        li
          a(href='https://www.youtube.com/watch?v=Pefc7sCBkCo')
            i.icon-chevron-right
            | Invisible cloak
        li
          a(href='https://www.youtube.com/watch?v=u4I7Moqsp8E')
            i.icon-chevron-right
            | NXT alarm clock
        li
          a(href='https://www.youtube.com/watch?v=LhjdGGR1gQw')
            i.icon-chevron-right
            | Muzzle flare test
        li
          a(href='https://www.youtube.com/watch?v=uoF_uZ9NWYg')
            i.icon-chevron-right
            | Lego Skyscraper time lapse
        li
          a(href='https://www.youtube.com/watch?v=FW4iCJEml3w')
            i.icon-chevron-right
            | Lego plane crash
        li
          a(href='https://www.youtube.com/watch?v=FMFC62tt1v4')
            i.icon-chevron-right
            | Night spy
        li
          a(href='https://www.youtube.com/watch?v=H2CTzkQYJWE')
            i.icon-chevron-right
            | Real life FPS capture the flag
        li
          a(href='http://www.youtube.com/watch?v=MlF3ChfWQi0')
            i.icon-chevron-right
            | Knife throw
        li
          a(href='http://www.youtube.com/watch?v=4Z6YBL0YCX8')
            i.icon-chevron-right
            | Unnatural powers
        li
          a(href='http://www.youtube.com/watch?v=2YdZOZ0FbXY')
            i.icon-chevron-right
            | I hate water
        li
          a(href='http://www.youtube.com/watch?v=smLunwiyRno')
            i.icon-chevron-right
            | 3DJakob intro
        li
          a(href='http://www.youtube.com/watch?v=rZA54KJCisA')
            i.icon-chevron-right
            | Epic gun fight
      article.span9
        h2
          | Hello!
        p
          | Hello, this site is currently under construction
        p
          | Bacon ipsum dolor sit amet ham hock swine short loin turkey, venison tongue pancetta. Andouille corned beef turkey boudin, spare ribs kielbasa hamburger ground round bacon shoulder leberkas pastrami pork belly chicken meatball. Pastrami beef bresaola, andouille shankle ribeye cow chuck spare ribs corned beef tail rump short loin ball tip tri-tip. Salami hamburger andouille, spare ribs leberkas chuck shank t-bone capicola biltong boudin.
        p
          | Pig ham capicola, turducken tri-tip bresaola brisket hamburger shoulder shank. Ground round turducken pastrami fatback chuck salami. Tail jowl doner flank turducken pastrami chicken meatloaf short loin shoulder. Drumstick corned beef ground round, prosciutto meatball sirloin frankfurter. Ball tip meatloaf venison drumstick biltong sirloin tail. Brisket bresaola filet mignon shoulder ham, shankle tenderloin short ribs sausage beef ribs venison capicola shank ball tip. Andouille beef ribs pork, fatback drumstick salami brisket ham bacon short ribs ribeye.
        p
          | Tail leberkas prosciutto sirloin pork chop shankle swine corned beef. Shankle swine sausage ham hock pastrami bacon drumstick pork shank bresaola. Pork loin tail capicola tenderloin pig pork ball tip ham hock meatloaf. Cow ribeye turkey filet mignon jerky bacon pork loin. Tenderloin ribeye sirloin short loin. Ribeye cow pig, turkey sausage biltong hamburger chuck sirloin filet mignon ball tip corned beef pastrami turducken meatloaf.
        p
          | Flank shank pig ham boudin ham hock pastrami sausage tri-tip spare ribs filet mignon meatball. Filet mignon pastrami sirloin meatball. Kielbasa ball tip sirloin ham hock. Turducken andouille pancetta fatback pork loin t-bone bacon meatball strip steak pig.
        p
          | T-bone turducken brisket turkey doner. Corned beef shoulder swine, pastrami pancetta leberkas capicola hamburger bresaola venison short loin bacon tenderloin flank. Meatloaf bacon boudin ham hock, t-bone filet mignon chicken capicola shankle leberkas. Ham capicola meatloaf short ribs, filet mignon pork beef ham hock flank spare ribs. Chuck salami kielbasa biltong tail jerky cow turducken leberkas pancetta tri-tip boudin meatloaf.
      footer.span12
        | © Jakob Unnebäck 2012
