
.page-videos .videos {
  padding: 10px 0;
}

.page-videos .videos:after {
  content: '';
  display: table;
  clear: both;
}

.page-videos .videos a {
  display: block;
  width: 214px;
  border: 1px solid #ccc;
  margin: 10px 9px;
  border-radius: 3px;
  overflow: hidden;
  text-decoration: none;
  float: left;
  -webkit-animation: popup 220ms ease-out;
  -webkit-animation-fill-mode: both;
}

@-webkit-keyframes popup {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
  }
}


.page-videos .videos a img {
  display: block;
  height: 124px;
}

.page-videos .videos a span {
  display: block;
  line-height: 30px;
  text-align: center;
  background-image: -webkit-linear-gradient(90deg,#518C8F,#7DADAD);
  color: white;
  border-top: 0px solid black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 10pt;
  padding: 0 4px;
  font-family: 'sarpanch', light sans-serif;
  -webkit-transition: background-image 2s;
}

.page-videos .videos a:hover span {
  background-image: -webkit-linear-gradient(92deg,#1F7A7A,#7FA397);
}
